body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    background-color: #171117;
    font-size: 95%;
    color: #e9f0e5d2;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }


  /* global */

  a:hover {
    color: #e2fdd4bb;
  }
  
  a {
    color: #cebed2;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 2px;
  }
  
/* header */

.headerContainer {
  font-size: 105%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 5px;
  background-color: #1c161f;
  color: #cebed2;
}

.headerUnderline {
  background-color: #cebed2;
  height: 3px;
}

.headerContainer > h1 {
  color: #ece6d6d2;
}

.headerContainer > a {
  color: #cebed2;
}

.headerContainer > a:hover {
  color: #ddeed4;
}


/* home */

.homeContainer {
  display: grid;
  width: 50%;
  /* grid-template-columns: auto; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 5px;
  /* border: 10px; */
  background-color: #1e1822;
  border-radius: 10px;
}

.homeContentContainer {
  margin: auto;
  width: 98%;
  border-radius: 10px;
}

.homeContainer .homeContentContainer a {
 justify-content: center;
 margin: auto;
 margin-bottom: 3px;
}

/* about */

.aboutContainer {
  padding-bottom: 0px;
  padding: 5px;
  margin: 5px;
  color: #cebed2;
}

.aboutMeContainer {
  color: #cebed2;
  background-color: #27202c;
  margin: auto;
  padding: 5px;
  grid-template-columns: auto auto;
  border-radius: 10px;
}

.aboutMeContainer img {
  float: left;
  margin: 10px;
  margin-bottom: 0px;
  width: 15%
  /* margin: auto; */
}

.aboutMeParagraph {
  grid-area: b;
  margin: 10px;
}
/* course */

.relevantCourseworkHeader {
  color: #cebed2;
  margin: 10px;
  margin-bottom: 0px;
}

.courseworkContainer {
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  border-radius: 5px;
  background-color: #221c26;
}

.courseList {
  margin: 5px;
  padding: 2px;
  background-color: #2d2532b4;
  color: #cebed2;
  border-radius: 5px;
}

.courseList > h3 {
  margin: none;
  padding: 3px;
  padding-bottom: none;
}

.courseList li {
  margin: 3px;
  margin-left: 0px;
}


.courseLink:hover {
  text-decoration: underline;
  color: #ddeed4;
}

.courseLink {
  text-decoration: none;
  color: #cebed2;
  opacity: 80%;
}
/* skills */

.skillsContainer {
  margin: 10px;
  padding: 10px;
  width: fit-content;
  background-color: #27202c;
  color: #d8c9db;
  border-radius: 5px;
}

.skills {
  color: #cebed2d1;
}

/* project */

.projectContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
  "a a a a b b"
  "a a a a b b"
  "c c c c c c"
  "c c c c c c"
  "c c c c c c"
  "d d d d d d"
  "e e e e e e"
  "e e e e e e";

  background-color: #1e1822;
  color: #cebed2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 40%
}

.projectContainer > p {
  grid-area: c;
  background-color: #251e2a;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;;
}

.projectName {
  grid-area: a;
  grid-row: 1 / 2;
  background-color: #251e2a;
  color: #cebed2ae;
  margin-bottom: 0px;
  margin-right: 5px;
  margin: 5px;
  padding-right: 0px;
  padding: 12px;
  border-radius: 10px;
  width: auto;
  height: auto;
}

.projectName > h1 {
  color: #cebed2;
  margin-bottom: 0;
}

.projectSkillsContainer {
  grid-area: d;
  background-color: #251e2a;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.projectSkillsGridContainer {
  background-color: #2e2534;
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 10px;
}

.projectSkillsContainer h4 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
}

.githubContainer {
  grid-area: b; 
  justify-self: center;
  background-color: #251e2a;
  width: fit-content;
  margin: 4px;
  padding-left: 0px;
  padding-right: 0px;
  padding: 5px;
  border-radius: 10px;
}

.githubContainer a img {
  display: block;
  grid-row: 1 / 2;
  opacity: 50%;
  max-width: 50%;
  margin: auto;
}

.githubContainer a img:hover {
  filter: invert(100%);
}

.projectButtonGridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.projectButton {
  background-color: #1e1822;
  color:#cbaae1d0;
  margin-left: 50px;
  margin-right: 50px;
  padding: 12px;
  margin: auto;
  border: 1px solid  #cebed232;
  text-decoration: none;
}

.projectButton:hover {
  background-color: #2e2534;
}

.leftProjectButtonContainer {
  margin-left: 15px;
  margin: auto;
  padding: 10px;
}

.rightProjectButtonContainer {
  margin-right: 15px;
  margin: auto;
  padding: 10px;
}

.projectVideoContainer {
  grid-area: e;
  background-color: #251e2a;
  margin-bottom: 0px;
  margin: 10px;
  border-radius: 10px;
}

.projectVideoContainer img {
  margin: auto;
  padding: 10px;
  max-width: 96%;
  height: auto;
}